.header{
    background-image: linear-gradient(to right bottom, #002853, #032243, #061b34, #081526, #040c18);
    padding-bottom: 80px;
}
.header-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header-content .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-content .content p{
    font-size: 20px;
    padding: 40px 0;
}
.email-input{
    display: flex;
    width: 100%;
}
.email-input input{
    width: 65%;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    color: #3d6184;
    background-color: #052d56;
}
.email-input input::placeholder{
    color: #3d6184;
}
.email-input button{
    background-color: #ff4820;
    padding: 20px 40px;
    border-radius: 0 4px 4px 0;
}